<ng-container *ngIf="homebars && homebars.length">
  <cdk-virtual-scroll-viewport class="scroll-viewport"
                               itemSize="100"
                               minBufferPx="600"
                               maxBufferPx="1200"
                               (scrolledIndexChange)="onVisibleTopIndexChange($event)">
    <ng-container *cdkVirtualFor="let item of homebars | transformAvatarUrl; let i = index; trackBy: trackBy">
      <app-homebar-collection-item class="homebar-collection-item"
                                   [id]="item.id"
                                   [name]="item.name"
                                   [color]="item.color"
                                   [photo]="item.image">
      </app-homebar-collection-item>
    </ng-container>
  </cdk-virtual-scroll-viewport>

</ng-container>
