.content-wrapper, :host {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  height: calc(100% - 53px);
}

.content-wrapper {
  flex-flow: column nowrap;
  width: 861px;
  justify-content: space-between;
  height: calc(100% - 97px);
  position: relative;
  padding-top: 97px;
  > * {
    margin-bottom: 20px;
  }
}

.information {
  .title {
    display: inline-block;
    height: 54px;

    font-family: DIN Next LT Pro, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;

    /* identical to box height */
    text-transform: uppercase;
  }

  p {
    padding-top: 20px;
  }
  display: inline-block;
  width: 555px;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;

  /* or 22px */
  text-align: center;
  text-transform: capitalize;
}

.homebar-collection {
  width: 861px;
  display: flex;
  flex-flow: row wrap;
}

option > img {
  width: 200px;
  height: 200px;
}

option[value="1"] {
  background-image: url('./../../../assets/fridge-avatar1.png');
  border: 2px solid red;
}
