<div class="content-wrapper">
  <section class="information">
    <span class="title">
      Creeër jouw koelkast
    </span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in quam in sem posuere eleifend vitae et mauris.
      Aenean
      nec massa arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Praesent
      blandit sagittis fermentum. Nunc sollicitudin lorem elit, eu dapibus magna pulvinar non. Maecenas sagittis tortor
      eget
      odio molestie, sed interdum quam ultricies. In vitae elit porttitor arcu gravida.
    </p>
  </section>

  <section class="create-homebar">
    <app-create-homebar-form></app-create-homebar-form>
  </section>

  <section class="homebar-collection">
    <app-homebar-collection></app-homebar-collection>
  </section>

</div>
