.create-homebar-form {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 30px;
  width: 861px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;

  >* {
    height: 44px;
  }

  #name {
    width: 342px;
  }

  .form-field {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    appearance: none;
    box-sizing: border-box;
  }

  #color, #image {
    width: 160px;

  }

  .invalid {
    border: 1px solid red;
  }

  .submit {
    width: 116px;
    font-weight: bold;
  }

  label {
    display: none
  }
}
