<form class="create-homebar-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="name"></label>
  <input [class]="{'form-field': true, invalid: getControl('name').invalid && showValidity}"
         type="text"
         placeholder="Naam"
         name="color"
         id="name" [formControl]="getControl('name')">
  <label for="color"></label>
  <select [class]="{'form-field': true, invalid: getControl('color').invalid && showValidity}"
          name="color"
          id="color"
          [formControl]="getControl('color')">
    <option value="" disabled selected>Kleur</option>
    <option value="orange">Oranje</option>
    <option value="red">Rood</option>
    <option value="black">Zwart</option>
  </select>
  <label for="image"></label>
  <select [class]="{'form-field': true, invalid: getControl('image').invalid && showValidity}"
          name="image"
          id="image"
          [formControl]="getControl('image')">
    <option value="" disabled selected>Foto</option>
    <option value="1">Foto 1</option>
    <option value="2">Foto 2</option>
    <option value="3">Foto 3</option>
  </select>

  <button class="submit">Verstuur ></button>
</form>

