h2 {
  font-family: DIN Next LT Pro, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23.3333px;
  line-height: 28px;
  color: #FFFFFF;
}

.label {
  position: absolute;
  top: 58%;
  left: 36%;
}

.home-bar-txt {
  padding-top: 20px;
  width: 240px;
  height: 38px;
}

:host {
  height: auto;
}
