.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;

  position: relative;
  width: 200px;
  height: 300px;

  > * {
    padding-bottom: 5px;
    align-self: center;
  }
}

.photo {
  position: absolute;
  top: 8%;
  transform: scale(0.85,0.85);
  z-index: 200;
}

.homebar-txt {
  width: 133px;
  height: 21px;

  display: block;
}
