<div class="content-wrapper">
  <span>- {{name}}'s -</span>
  <app-homebar-txt class="homebar-txt"></app-homebar-txt>
  <img class="fridge" src="assets/fridge-{{color}}.png" alt="{{color}} koelkast">
  <img class="photo" src="{{photo}}" alt="Avatar">

</div>
