/* You can add global styles to this file, and also import other style files */


* {
  margin: 0;
  padding: 0;
}

html, body, app-root {

  display: block;
}

html, body, app-root, app-root > * {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: local('assets/DIN Next LT Pro Next Rounded LT Pro Light'), local('assets/DIN-Next-LT-Pro-Next-Rounded-LT-Pro-Light'),
  url('assets/DINNextRoundedLTPro-Light.woff2') format('woff2'),
  url('assets/DINNextRoundedLTPro-Light.woff') format('woff'),
  url('assets/DINNextRoundedLTPro-Light.ttf') format('truetype');
}
