<app-ui-bar class="footer">
  <div class="footer-wrapper">
    <p class="alcohol-warning">Geen 18, geen alcohol.</p>
    <div class="links">
      <a>Actievoorwarden</a>
      <a>Gall.nl</a>
    </div>
  </div>

</app-ui-bar>
