.footer {
  //display: block;
  position: fixed;
  bottom: 0;
  height: 53px;
  width: 100%;
  > * {
    top: auto;
  }
}

:host {
  height: 53px;
  bottom: 0;
}

.footer-wrapper {
  display: flex;
  width: calc(100% - (2*18px));
  height: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  margin-left: 18px;
  margin-right: 18px;

  p, a {
    font-family: DIN Next LT Pro, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
}

.links > * {
  padding-left: 18px;
}
